<nav class="navbar navbar-default sidebar" role="navigation" style="background: rgba(0,60,97,0.6); color: #fff; border-bottom: 0 solid transparent; border-color: transparent;" ng-controller="HomeCtrl"> 
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
        	<a href ng-click="home()" style="text-align: center;">
                <i class="fas fa-home fa-2x"></i>
                <p style="text-indent: inherit; text-align: center;" class="w3-margin paragrafo">Home</p>
        		
        	</a>
        </li>
        <li class="active">
            <a href ng-click="meusPedidos()" style="text-align: center;">
                <i class="far fa-id-badge fa-2x"></i>
                <p style="text-indent: inherit; text-align: center;" class="w3-margin paragrafo">Acompanhamento de Residentes</p>
                
            </a>
        </li>
         <li class="active">
            <a href ng-click="meusPedidos()" style="text-align: center;">
                <i class="fas fa-table fa-2x"></i>
                <p style="text-indent: inherit; text-align: center;" class="w3-margin paragrafo">Controle Administrativo</p>
                
            </a>
        </li>
         <li class="active">
            <a href ng-click="controleRH()" style="text-align: center;">
                <i class="far fa-user fa-2x"></i>
                <p style="text-indent: inherit; text-align: center;" class="w3-margin paragrafo">Controle de Departamento Pessoal</p>
                
            </a>
        </li>
         <li class="active">
            <a href ng-click="meusPedidos()" style="text-align: center;">
                <i class="fas fa-shopping-basket fa-2x"></i>
                <p style="text-indent: inherit; text-align: center;" class="w3-margin paragrafo">Controle de Compras</p>
                
            </a>
        </li>
         <li class="active">
            <a href ng-click="meusPedidos()" style="text-align: center;">
                <i class="fas fa-exclamation-triangle fa-2x"></i>
                <p style="text-indent: inherit; text-align: center;" class="w3-margin paragrafo">Alertas</p>
                
            </a>
        </li>
     </ul>
    </div>
  </div>
</nav>