<div ng-include='"view/header.html"'></div>
<div ng-include='"view/aside.html"'></div>
<div class="container" style="background: #F2F2F2; width: calc(100% - 200px); border: 1px solid rgb(3,68,110); float: right; height: calc(100% - 100px);">
	<div class="bemVindo">
		<h1>Bem-vindo(a) <strong>Usuário</strong></h1>
	</div>
	<div class="w3-row">
		<div class="w3-quarter">
			<input type="button" class="btn btn-primary" value="Grupos">
		</div>
		<div class="w3-quarter">
		<input type="button" class="btn btn-success" value="Pessoas">
		</div>
		<div class="w3-quarter">
			<input type="button" class="btn btn-danger" value="Escala de Trabalho">
		</div>
	</div>
</div>
<div ng-include='"view/footer.html"'></div>